### Python ###
__pycache__/
*.py[cod]
*.pyo
*.pyd
venv/
.env

### IntelliJ / Gradle ###
.idea/
*.iml
*.iws
*.ipr
out/
.gradle/
build/
bin/

### Kotlin ###
.kotlin

### Advent of Code ###
cookie.txt
inputs/
tests/